body{
    margin:0px;
    font-family: Arial;
    color:rgb(149, 165, 166);
}
h1 {
    text-align: center;
    color: rgb(149, 165, 166);
}
#vid {
    position: fixed;
    bottom: 537;
    left: 445;
    width: 455px;
}
#pic {
    margin:auto;
    width: 30%;
    border: 0px rgb(149, 165, 166);
    padding: 10px;
}