h1{
    text-align: center;
}
p {
    font-size: 50px;
    text-align: center;
}
.buttons #button1{
    width: 70px;
    height: 70px;
    background-color: midnightblue;
    color: white;
}
.buttons #button2{
    width: 70px;
    height: 70px;
    background-color: midnightblue;
    color: white;
}
.buttons #button3{
    width: 70px;
    height: 70px;
    background-color: midnightblue;
    color: white;
}
.buttons{
    display:flex;
    text-align: center;
    justify-content: space-around;
}
h2{
    text-align: center;
    font-size: 35;
}
p2{
    text-align: center;
    font-size: 20;
}