body{
    background: peachpuff
}
h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 44;
    color: white
}
button{
    background-color: skyblue;
    margin-left: 300;
    font-size: 20;
}